BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# Sets up clock + sets frequency
LOCATE COMP "clk" SITE "G2";
IOBUF  PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

# Sets up reset button
LOCATE COMP "rst" SITE "V1";
IOBUF  PORT "rst" PULLMODE=DOWN IO_TYPE=LVCMOS33;


### Hint: Inputs look like the following 2 lines:
# LOCATE COMP "PORT_NAME" SITE "PIN_NUM";
# IOBUF  PORT "PORT_NAME" PULLMODE=DOWN IO_TYPE=LVCMOS33;



### Hint: Outputs look like the following 2 lines:
# LOCATE COMP "PORT_NAME" SITE "PIN_NUM";
# IOBUF  PORT "PORT_NAME" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "in_val[0]" SITE "N17"; # DIFF ADC AIN3
LOCATE COMP "in_val[1]" SITE "P16"; # DIFF ADC AIN2
LOCATE COMP "in_val[2]" SITE "N16"; # DIFF ADC AIN5
LOCATE COMP "in_val[3]" SITE "M17"; # DIFF ADC AIN4
LOCATE COMP "in_val[4]" SITE "L16"; # DIFF ADC AIN7 GR_PCLK
LOCATE COMP "in_val[5]" SITE "L17"; # DIFF ADC AIN6
LOCATE COMP "in_val[6]" SITE "H18"; # DIFF
LOCATE COMP "in_val[7]" SITE "H17"; # DIFF
LOCATE COMP "in_val[8]" SITE "F17"; # DIFF
LOCATE COMP "in_val[9]" SITE "G18"; # DIFF
LOCATE COMP "out_toggle" SITE "D18"; # DIFF
LOCATE COMP "mode_toggle" SITE "E17"; # DIFF
IOBUF PORT  "in_val[0]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "in_val[1]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "in_val[2]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "in_val[3]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "in_val[4]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "in_val[5]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "in_val[6]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "in_val[7]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "in_val[8]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "in_val[9]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "out_toggle" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "mode_toggle" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "val[0]" SITE "C18"; # DIFF
LOCATE COMP "val[1]" SITE "D17"; # DIFF
LOCATE COMP "val[2]" SITE "B15";
LOCATE COMP "val[3]" SITE "C15";
LOCATE COMP "val[4]" SITE "B17";
LOCATE COMP "val[5]" SITE "C17";
LOCATE COMP "val[6]" SITE "C16";
LOCATE COMP "val[7]" SITE "D16";
LOCATE COMP "val[8]" SITE "D14";
LOCATE COMP "val[9]" SITE "E14";
LOCATE COMP "val[10]" SITE "C13";
LOCATE COMP "done" SITE "B13";
IOBUF PORT  "val[0]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "val[1]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "val[2]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "val[3]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "val[4]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "val[5]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "val[6]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "val[7]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "val[8]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "val[9]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "val[10]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "done" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;





